@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0;padding: 0;box-sizing: border-box;
}
html{
    font-family: 'Jomhuria', cursive;
}
body{
    background-color: aliceblue;
}
section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("slambook.jpg") ;
    padding-bottom: 30px; padding-top: 30px;
    opacity: 1.3;
}
.container{
    width: 85%;
    max-width: 700px;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px auto;
    margin: 50px auto;
    transition: .3s ease-in-out box-shadow;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container:hover{
    box-shadow: 0 0 40px 9px #00000045;
}
.header{
    position: relative;
    width: 90%;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px auto 50px;
    background-color:rgb(110, 150, 184);
    padding: 15px;
    letter-spacing: 2.5px;
    border-radius: 20px;
    transition: .5s;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffbc00, #ff0058);
}
.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffbc00, #ff0058);
    filter: blur(30px);
}
.header span{
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background: rgba(0,0,0,0.6);
    z-index: 2;
}
.header span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.1);
    pointer-events: none;
}
.header div{
    position: relative;
    z-index: 10;
}
.header .logo_head{
    font-size: 20px; 
    color: white; 
    font-weight: 300;
    font-family: 'Satisfy', cursive;

}
.header .logo_icon img{
    height: 45px;
    width: 40px; 
    margin-left: 4px;   
}

/* end of common code */
.heading {
    width: 70%;
    color: #29daad;
    font-size: 13px;
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-weight: 900;
}

.main{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px auto 40px;
    padding: 15px;
    letter-spacing: 2.5px;
    border-radius: 10px;
    color: white;
} 
.main .btn button, form .login, .submit{
    width: 150px;
    height: 40px;
    outline: none;
    border: 2px solid #ff0058;
    /* transition: 3s ease bg_color; */
    letter-spacing: 2px;
    font-size: 17px;
    margin: 10px;
    border-radius: 20px;
    font-family: 'poppins';
    background-color: white;
    transition: 1.2s;
    color:  #ff0058;

}
.main .btn button:hover, form .login:hover, .submit:hover{
    box-shadow: 0 5px 50px 0 #ff0058 inset,  0 5px 50px 0 #ff0058,
    0 5px 50px 0 #ff0058 inset,  0 5px 50px 0 #ff0058;
    color: white;
}
/* .main .btn button:hover{
    bg_color: crimson;
} */

/* Login.html */
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    margin: 20px auto 50px; 
    padding: 10px;
}
form input{
    width: 270px;
    height: 33px;
    outline: none;
    color: crimson ;
    border: 2.5px solid #29daad;
}
form input::placeholder{
    text-align: center;
    color: crimson;
    font-family: 'Satisfy', cursive;
    font-weight: 500;

}
.heading .login{
    font-size: 25px;
    color: #29daad;
}
/* form .login, .submit{
    width: 160px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: 3px solid rgb(106, 158, 204);
    background-color: white;
    font-size: 17px;
    font-family: 'Hammersmith One', sans-serif;

} */
/* end of login.html */



/* list.html */
#list_main{
    background-color: aliceblue;
    color: black;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 18px;
    width: 95%;
    margin: 5px auto 5px;
}
th{
    text-align: center;
}
td{
    text-align: center;
}
td button a{
    text-decoration: none;
}
td .btn{
    transition:.3s;
}
td .btn:hover{
    transform: scale(1.1);
    box-shadow:0 0px 5px .5px #000;
}
/* end of list.html */


/* view.html */
#view_main{
    font-family: 'Hammersmith One', sans-serif;
    flex-direction: column;
    color: white;
    letter-spacing: 1px;

}
.view_main table tr{
    text-align: left;
}

/* end of view.html */
#detail_main{
    font-family: 'Hammersmith One', sans-serif;
    flex-direction: column;
    color: white;
    letter-spacing: 1px;   
}
/* contact.html */

#contact_main{
    color: white;
}
#contact_main .address{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.address .card{
    display: flex;
    flex-direction: row;
    columns: white;
}
.address .card h1, p{
    color: white;
}

/* end of contact.html */
a i{
    color: white;
}

/* details.php */
.details table td{
    text-align: right;
}

/* media query */

@media only screen and(max-width:900px){
    section{
        background-image: url("slambook.jpg") no-repeat;
        background-size: cover;
        background-position: center;
    }
    .container{
        width: 80%;
    }
}
/* end of media query */